body {
  text-align: center;
}
button {
  padding: 10px;
  margin-right: 10px;
}
.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}
input {
  display: block;
  margin-top: 10px;
}
