@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
header {
  width: 100%;
  height: 168px;
  /* display: flex;
  flex-direction: column;
  background-color: red; */
}
.headertop {
  width: 1200px;
  height: 35px;
  display: flex;
  align-items: center;
}
.logo {
  width: 100%;
  height: 86px;
}
.headerbottom {
  width: 1200px;
  height: 47px;
}
.topmenu1 {
  width: 464px;
  height: 35px;
  margin-top: 20px;
  align-items: center;
}
.topmenu1 > a {
  font-size: 12px;
  display: inline;
}
.topmenu1 > img {
  width: 16px;
  height: 16px;
  display: inline;
}
.topmenu1 > span {
  font-size: 12px;
}
.topmenu2 {
  float: right;
  width: 340px;
  border: 0;
}
.topmenu2 > ul > li > a {
  font-size: 12px;
}

.topmenu2 > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo {
  text-align: center;
}
p {
  display: inline;
}

.category {
  width: 160px;
  height: 34px;
  border-radius: 24px;
  background-color: #dd3454;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
}
.category > span {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.category > .categoryimg {
  width: 16px;
  height: 16px;
}
.category > .categoryimg > img {
  width: 100%;
  height: 100%;
}
nav {
  width: 600px;
  float: left;
  margin: 9px 0px 0px 20px;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
nav > ul > li > a {
  color: #242529;
  font-size: 14px;
}
nav > ul > li > a:hover {
  color: #dd3454;
}
.finder {
  width: 310px;
  height: 34px;
  float: right;
  margin-top: 7px;
}
form {
  width: auto;
  height: 34px;
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 20px;
}
fieldset {
  border: 0;
}

form > fieldset > input {
  width: 200px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  border: 0;
  margin: 4px 0px 4px 30px;
}
::placeholder {
  font-size: 14px;
}

form > fieldset > img {
  height: 24px;
  width: 24px;
  margin: 6px 40px 0px 0px;
  float: right;
}

#slider {
  width: 100%;
  height: 330px;
  background-color: rgb(121, 121, 255);
  position: relative;
}
#slider > img {
  width: 100%;
  height: 100%;
}

#slider > .subnav {
  width: 1200px;
  height: 50px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 24px;
  border: rgb(201, 201, 201) solid 0.3px;
  box-shadow: inset;
}

#slider > .subnav > ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
#slider > .subnav > ul > li > span {
  font-size: 15px;
}
#slider > .subnav > ul > li:hover {
  cursor: pointer;
}
.container1 {
  width: 1200px;
  height: auto;
}
.container1 > h3 {
  margin: 80px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
}
.section1 {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box1 {
  width: 282px;
  height: auto;
  margin-top: 40px;
}
.box1 > img {
  width: 282px;
  height: 282px;
  border-radius: 20px;
}
.box1 > h3 {
  font-size: 17px;
  margin: 8px 0px 12px 0px;
}
.box1 > h2 {
  font-size: 19px;
}
.box1 > h2 > span {
  font-size: 19px;
  color: #dd3454;
}
.box1 > h4 {
  color: grey;
  font-size: 14px;
  text-decoration: line-through;
}
.container2 {
  padding-bottom: 60px;
}
.section2 {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
}
.container2 > .section2 > .box2 {
  width: 384px;
  height: auto;
  margin-top: 40px;
  position: relative;
}
.container2 > h3 {
  margin: 80px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
}
.container2 > .section2 > .box2 img {
  border-radius: 20px;
}
.box2 > span {
  text-align: center;
  width: 70%;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box3 {
  margin-top: 40px;
  width: 236px;
  height: auto;
}

.box3 > img {
  width: 236px;
  height: 236px;
  border-radius: 100%;
}
.section3 {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container3 > h3 {
  margin: 80px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
}
.box3 > h3 {
  font-size: 17px;
  margin: 8px 0px 12px 0px;
}
.box3 > h2 {
  font-size: 19px;
}
.box3 > h2 > span {
  font-size: 19px;
  color: #dd3454;
}
.box3 > h4 {
  color: grey;
  font-size: 14px;
  text-decoration: line-through;
}
.container3 {
  background-color: rgb(230, 230, 230);
  padding-top: 20px;
}
